@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
}


/******************************************
Styles
/*******************************************/
body{
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

p {
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 2em;
}

img {
  max-width: 100%;
}

/******************************************
Intro
/*******************************************/
.intro {
  padding: 100px 0;
  background: #23424A;
  color: white;
}

.intro-container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.intro-content {
  width: 60%;
}

.intro-content h1 {
  margin-top: 0;
}

.hero-image {
  width: 30%;
  align-self: flex-start;
}

.btn {
  display: inline-block;
  font-size: 21px;
  font-weight: 700;
  background: #38CFD9;
  padding: 0.5em 1.5em;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: #23424A;
}

.btn:hover,
.btn:focus {
  color: rgba(255, 255, 255, 0.75);
}


/******************************************
Middle
/*******************************************/
.middle-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.middle-left {
  width: 50%;
}

.middle-left h2 {
  color: #136C72;
  font-size: 35px;
}

.middle-right {
  background: #136C72;
  color: #fff;
  text-align: center;
  width: 30%;
  padding: 0 50px;
}

.middle-right h2 {
  font-size: 30px;
}

.middle-right p {
  padding-bottom: 20px;
}


/******************************************
Bottom
/*******************************************/
.bottom {
  background: #136C72;
  color: #fff;
  display: flex;
  padding: 50px;
  text-align: center;
}

.bottom .col + .col {
  margin-left: 30px;
}

.bottom-flex-container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}

.bottom h2 {
  font-size: 30px;
}